@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: calc(0.8rem + 0.12vw);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-font: Poppins, sans-serif;
  font-family: var(--primary-font);
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}
